<main id="main-result">
	<section id="section-result">
		<div class="container carta movie">
			<h1 class="my-4">
				<%=movie.Title %>
				<small class="font-italic text-muted lead"><%=movie.Year %></small>
			</h1>

			<div class="row">
				<div class="col-md-3">
					<img class="img-fluid border border-dark" src="<%=movie.Poster %>" alt="" />
				</div>

				<div class="col-md-9">
					<h3 class="my-3">Plot</h3>
					<p class="ml-4">"<%=movie.Plot %>"</p>
					<hr />
					<h3 class="my-3 text-capitalize"><%=movie.Type %> Details</h3>
					<ul class="fa-ul">
						<% for(var i=0; i < 11 ; i++) {%>
						<li>
							<i class="fa-li fas fa-angle-right"></i><%= Object.keys(movie)[i] %> : <%= Object.values(movie)[i] %> .
						</li>

						<% } %> <% if(movie.Production) {%> <%= movie.Production%>
						<li><i class="fa-li fas fa-angle-right"></i>Production: <%=movie.Production %>.</li>
						<%}%> <% if(movie.totalSeasons) {%> <%= movie.totalSeasons%>
						<li><i class="fa-li fas fa-angle-right"></i>Seasons: <%=movie.totalSeasons %>.</li>
						<%}%> <% if(movie.BoxOffice) {%> <%= movie.BoxOffice%>
						<li><i class="fa-li fas fa-dollar-sign text-capitalize"></i>Box Office: <%=movie.BoxOffice %></li>
						<%}%> <% if(movie.Website) {%>
						<li>
							<i class="fa-li fas fa-at"></i>Website:
							<a href="<%=movie.Website %>" class="font-weight-bold"><%=movie.Title %></a>
						</li>
						<%}%>
					</ul>
					<hr />

					<h3 class="my-3">Ratings & Awards</h3>

					<ul class="fa-ul">
						<% movie.Ratings.forEach(function(rating) { %>
						<li><i class="fa-li far fa-star"></i><%=rating.Source %></li>
						<div class="progress w-50 border border-warning bg-danger">
							<div
								class="progress-bar progress-bar-striped bg-success coloreame"
								role="progressbar"
								style="width: <%=rating.Value %>%"
								aria-valuenow="62"
								aria-valuemin="0"
								aria-valuemax="100"
							>
								%<%=rating.Value %>
							</div>
						</div>
						<% }); %>
					</ul>
					<div class="row">
						<div class="col">
							<ul class="fa-ul">
								<%= movie.Awards%>
								<li>
									<i class="fa-li fas fa-award"></i>
									<p class="text-capitalize">Awards: <%=movie.Awards %></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
